
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3C3D3F;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
        color: #FF3000;
}

h1 {
	font-size: 2em;
	/* some space below header */
	line-height: 160%;
}

h2 {
	font-size: 2.8em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	/*line-height: 180%;*/
	line-height: 120%;
}

ul, ol {
}

a {
	text-decoration: underline;
	color: #1CB543;
}

a:hover {
	text-decoration: none;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 150px;
}

#header {
	overflow: hidden;
	width: 650px;
	margin: 0 auto;
	padding: 30px 0px 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 350px;
	margin: 0;
	padding: 0;
	color: #000000;
}

#logo h1, #logo p {
}

#logo h1 {
	margin-left: 30px;
	padding: 20px 0px 0px 0px;
	letter-spacing: -1px;
	font-size: 3.8em;
        /*color: #FF3000;*/
        color: #0000C0;
}

#logo p {
	margin: -5px 0px 0px 0px;
	padding: 0px 0 0 32px;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #45302C;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #202020;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 40px;
	padding: 0px 0px 0px 0px;
}

#search form {
	margin: 0;
	padding: 10px 0 0 10px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 220px;
	height: 20px;
	margin-right: 10px;
	padding: 6px 5px 6px 5px;
	border: none;
	background: #FFFFFF;
	text-transform: lowercase;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #B9ADAA;
}

#search-submit {
	width: 45px;
	height: 26px;
	border: none;
	background: none;
	text-indent: -9999px;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0px;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 38px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #202020;
}

#menu a:hover {
	text-decoration: none;
}

#menu span {
	display: inline-block;
	height: 28px;
	padding: 10px 30px 0px 30px;
}

#menu li.active {
	background: #1CB543;
}

#menu li.active a {
	background: url(images/img02.jpg) no-repeat left top;
}

#menu li.active span {
	background: url(images/img03.jpg) no-repeat right top;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 650px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#page-bgtop {
}
/* Content */

#content {
	float: left;
	width: 600px;
	padding: 40px 0px 0px 0px;
	background: #FFFFFF;
}

.post {
	margin-bottom: 30px;
}

.post .title {
	height: 41px;
	padding: 0px 0px 0px 0px;
}

.post .title a {
	letter-spacing: -2px;
	text-decoration: none;
	color: #202020;
	border: none;
}

.post .entry {
	text-align: justify;
}

.post .meta {
	overflow: hidden;
	padding-top: 10px;
}

.post .links {
}

.links a {
	padding: 4px 10px;
	background: #87A0E5;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
	color: #FFFFFF;
}

.author {
	padding: 4px 10px;
	background: #DF8088;
	text-transform: uppercase;
	font-size: 11px;
	color: #FFFFFF;
}

.author a {
	text-decoration: none;
	color: #FFFFFF;
}

.date {
	padding: 4px 10px;
	background: #91D9AA;
	text-transform: uppercase;
	font-size: 11px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	background: #EBEBEB;
	border-bottom: 4px solid #1CB543;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	padding: 0;
}

#sidebar li ul {
	margin: 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	margin: 0px 30px 0px 30px;
	line-height: 35px;
	border-bottom: 1px solid #CFCFCF;
	border-left: none;
	text-align: left;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 20px;
	background: url(images/img05.jpg) no-repeat left 5px;
}

#sidebar h2 {
	height: 30px;
	margin: 0px 0px 20px 0px;
	padding: 2px 0px 0px 30px;
	background: url(images/img04.jpg) no-repeat left top;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: -.5px;
	font-size: 1em;
	font-weight: bold;
	color: #202020;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 650px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding: 20px 0px 0px 30px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
        /*text-align: left;*/
        text-align: center;
        color: #45302C;
}

#footer a {
}

#about {
	width: 540px;
	padding: 30px;
	background: #EBEBEB;
	border-bottom: 4px solid #1CB543;
	color: #3C3D3F;
}

#about h2 {
	padding-bottom: 10px;
	color: #202020;
}

#about a {
	color: #1CB543;
}
